$primary-color: #444;
$secondary-color: #eece1a;
@mixin  easeOut {
    transition: all 0.5s ease-out;
}
// menu btn editing start from here
.menu-btn{
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer; 

    .btn-line{
        background: #fff;
        height: 3px;
        width: 20px;
        margin: 0 0 5px 0;  
    }  

    // Rotate in two with menu
    &.close{
        -webkit-transform: rotate(180deg); 
        transform: rotate(180deg);

        .btn-line{  
            &:nth-child(1){
                -webkit-transform: rotate(45deg)
                translate(5px, 5px); 
                transform: rotate(45deg)
                translate(5px, 5px) ;
            }
            &:nth-child(2){
               opacity: 0;
            }
            &:nth-child(3){
                -webkit-transform: rotate(-45deg)
                translate(7px, -9px) ;
                transform: rotate(-45deg) translate(7px, -6px);  
            } 
        }
    }
}

.menu{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    &.show{
        visibility: visible;
    }
    &-brading, &-nav{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%; 
        height: 100vh;
        overflow: hidden;
    }
    &-nav{
        margin: 0;
        padding: 0;
        background: darken($primary-color,  5);
        transform: translate3d(0, -100%, 0);  
        @include easeOut(); 

        &.show{
            transform: translate3d(0,0,0); 
        }
    }
    .nav-item{
        list-style: none;
        transform: translate3d(-600px,0, 0);
        transition: all 0.5s ease-out;  

        &.show{
            transform: translate3d(0,0,0); 
        }
        .nav-link{
            font-size: 25px; 
            text-transform: uppercase;  
            font-weight: 300;
            display: inline-block;
            padding: 1rem 0;   
            position: relative;  
            @include easeOut;  
             
            &:hover{
                color: $secondary-color;  
            }
            &.current{
                color: $secondary-color;
            }
        }
    }  
    &-brading{   
        margin: 0;
        padding: 0;
        background: $primary-color;
        transform: translate3d(0, 100%, 0); 
        @include easeOut();

        &.show{ 
            transform: translate3d(0,0,0); 
        }

        .potrait{
            width: 250px;
            height: 250px;  
            background-attachment: fixed;
            background-size: cover;
            object-fit: contain;
            border-radius: 50%; 
            border: solid 3px $secondary-color;    
        }
    }
}
@for $s from 1 through 4{
   .nav-item:nth-child(#{$s}){
       transition-delay: $s * 0.1s;
   } 
}
