@include mobileMd{
   main{
        align-items: center;
        text-align: center;

        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
            margin-right: 50px;
        }
   }
   .menu-brading, .menu-nav{
       float: none;
       width: 100%;
       min-width: 0;

      &.show{
          transform: translate3d(0,0,0);
      }
   }
   .menu-brading{
    height: 25vh;
    transform: translate3d(-100%, 0,0); 

    .potrait{
        width: 120px;
        height: 120px;  
         } 
    }         

    .menu-nav{
        height: 75vh;
        font-size: 20px;  
        transform: translate3d(100%, 0,0);
    }
    .about-info{
        display: grid;
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
                
        grid-template-columns: 1fr;
    } 
    .project{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }   
    .skill-bars{
        margin-top: 100px; 
    }   
    .skill-bars li{
        margin-top: 20px; 
        min-width: 100%; 
    }
    .skill-bars li .progress span {
        position: absolute;
        right: 0;
        top: -3rem;
        display: block;
        font-family: "poppins-regular", sans-serif;   
        color: white;
        font-size: 1.1rem;
        line-height: 1;
        background: #313131;
        padding: .6rem .6rem;
        border-radius: 3px;
    }      
}     
@include mobileSm{
    main#Home h1{
        margin-top: 10px;  
    }
    .project{
        display: grid;
        grid-template-columns: 1fr;
    } 
}  
 

 