$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/img1.jpg);   
$background-opacity: 0.9;  
@import 'menu';      
@import 'config';      
@mixin  easeOut {
    transition: all 0.5s ease-out;
}
@mixin  background {
    @if $show-home-image{
        &#bg-img{
            background: $home-image; 
            background-size: cover;
            background-attachment: fixed;
            object-fit: cover;
            max-height: 100vh;
            
                          
            &:after{
                content: ''; 
                position:fixed;  
                top: 0;
                right: 0;  
                width: 100%;
                min-height: 100vh;
                z-index: -1;
                background: rgba($primary-color, $background-opacity);
            }
        }

    }
}

*{
    box-sizing: border-box;
};
body{
    @include background; 
    color: white;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5
};
h1, h2, h3{
    margin: 0;
    font-weight: 400;

    &.lg-heading{
    font-size: 5rem,
    }

    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background:rgba( lighten($primary-color, 2),0.5)

    }
}
a{
    color: #fff;
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 1;
    width: 100%;

}

.text-secondary{
    color: $secondary-color;   
    font-weight: bold; 
}
main{
    padding: 4rem;      
    min-height: calc(100vh - 60px);               

    .icon{
        margin-top: 1rem;

        a{
            padding: 0.4rem;
            &:hover{
                color: $secondary-color;                   
                @include easeOut();
            }
        }
    }
    &#Home{
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }
    }
}
.about-info{
    display: grid;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.bio-image{
    grid-area: bioimage;
    width: 150px;
    height: 150px;
    margin: auto;
    border: 3px solid $secondary-color;
    border-radius: 50%;
}
.bio{
    grid-area: bio; 
    font-size: 1.5rem;
}
.job-1{
    grid-area: job1; 
}
.job-2{
    grid-area: job2;   
}
.job-3{
    grid-area: job3; 
} 
.job{
    padding: 10px;
    background-color: lighten($primary-color, 5); 
    border-bottom: 5px solid $secondary-color;
    border-radius: 10px; 
    max-width: 400px; 
}
#main-footer{
    text-align: center;
    height: 40px;
    background-color: darken($primary-color, 10);
    padding: 10px;
} 
.project{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .boxes{
        display: block;
        align-items: center;
        margin-bottom: 25px;
     
        img{
         border: 3px solid #fff;
     
         &:hover{
             opacity: 0.5;
             border: 3px solid $secondary-color;
         }
        }
     }
} 
   
 
.btn-light{
    padding: 20px;
    background-color: #fff; 
    color: #333; 
    margin-bottom: 20px; 
}  
.btn-dark{
    padding: 20px;
    background-color: $secondary-color;  
}
 .contact{
     display: flex; 
     justify-content: space-evenly;
     flex-wrap: wrap;

     div{
         padding: 20px;
         margin-top: 5px;
         border: 3px solid #fff;

         &:hover{
             border: 1px solid $secondary-color;
             cursor: pointer;  
         }
     }
 }    
 .skills{
    //  margin-top: -120px; 
     text-align: center
 } 
 .skill-bars li .percent70  { width: 70%; }
 .skill-bars li .percent75  { width: 75%; }
.skill-bars li .percent80  { width: 80%; }
.skill-bars li .percent85  { width: 85%; }
.skill-bars li .percent90  { width: 90%; }
.skill-bars li .percent95  { width: 95%; }
.skill-bars li .percent100 { width: 100%; }
.skill-bars {
	list-style: none;
	margin: 3rem auto;
  max-width: 80%;
}
.skill-bars li {
	height: .6rem;
	background: #a1a1a1; 
	width: 100%;
	margin-bottom: 3rem;
	padding: 0;
	position: relative;
}
.skill-bars li strong {
	position: absolute;
	left: 0;
	top: -3rem;
	font-family: "poppins-bold", sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-size: 1.5rem;
	line-height: 2.4rem;
}
.skill-bars li .progress {
	background: #313131;
	position: relative;
	height: 100%;
}
.skill-bars li .progress span {
	position: absolute;
	right: 0;
	top: -2.6rem;
	display: block;
	font-family: "poppins-regular", sans-serif;
	color: white;
	font-size: 1.1rem;
	line-height: 1;
	background: #313131;
	padding: .6rem .6rem;
	border-radius: 3px;
}
.skill-bars li .progress span::after {
	position: absolute;
	left: 50%;
	bottom: -5px;
	margin-left: -5px;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-top: 5px solid #313131;
	content: "";
}
@import 'mobile';